*{ margin:0; padding:0;}

/*Sky and grass part */
.sky {
	width: 100%; height: 50vh;
	background: -webkit-linear-gradient( rgb(196, 228, 253), #FFFFFF);
	background:    -moz-linear-gradient( rgb(196, 228, 253), #FFFFFF);
	background:      -o-linear-gradient( rgb(196, 228, 253), #FFFFFF);
	background:         linear-gradient( rgb(196, 228, 253), #FFFFFF);
	z-index: -1;
	position: relative;
	overflow: hidden;
}
.grass{
	width: 100%; height: 50vh;
	background: -webkit-linear-gradient(  #FFFFFF , rgb(148, 190, 89));
	background:    -moz-linear-gradient(  #FFFFFF , rgb(148, 190, 89));
	background:      -o-linear-gradient(  #FFFFFF , rgb(148, 190, 89));
	background:         linear-gradient(  #FFFFFF , rgb(148, 190, 89));
	z-index: -1;
	position: relative;
}

/* Try to use pseudo-element to make cloud shape*/

.cloud{ 
	width:330px; 
	height:110px; 
	background: #FFFFFF;
	border-radius:100px;
	position:relative;
	margin:0 auto;
}
	
.cloud:after,
.cloud:before{
	content:""; 
	position:absolute; 
	background: #FFFFFF; 
	z-index:1;
}

.cloud:after{ 
	width:100px; 
	height:160px; 
	top:-30px; 
	left:35px; 
	border-radius:80px;
	transform: rotate(-25deg);
}

.cloud:before{ 
	width:180px; 
	height:180px; 
	top:-60px; 
	right:50px; 
	border-radius:180px;
}

/* Control the position and speed of cloud, will try to use class instead of id later */
#div1{
	position: absolute;
	top: 35px;
	opacity: 0.6;
	-webkit-animation: cloudmove1 6s linear  infinite;
	   -moz-animation: cloudmove1 6s linear  infinite;
	    -ms-animation: cloudmove1 6s linear  infinite;
	     -o-animation: cloudmove1 6s linear  infinite;
	        animation: cloudmove1 6s linear  infinite;
	z-index:100;
}
#div2{
	position: absolute;
	top: 114px;
	opacity: 0.8;
	-webkit-animation: cloudmove2 5s linear  infinite;
	   -moz-animation: cloudmove2 5s linear  infinite;
	    -ms-animation: cloudmove2 5s linear  infinite;
	     -o-animation: cloudmove2 5s linear  infinite;
	        animation: cloudmove2 5s linear  infinite;
	z-index:100;
}
#div3{
	position: absolute;
	top: 155px;
	opacity: 0.7;
	-webkit-animation: cloudmove3 4s linear  infinite;
	   -moz-animation: cloudmove3 4s linear  infinite;
	    -ms-animation: cloudmove3 4s linear  infinite;
	     -o-animation: cloudmove3 4s linear  infinite;
	        animation: cloudmove3 4s linear  infinite;
	z-index:100;
}
#div4{
	position: absolute;
	top: 72px;
	opacity: 0.8;
	-webkit-animation: cloudmove4 5s linear  infinite;
	   -moz-animation: cloudmove4 5s linear  infinite;
	    -ms-animation: cloudmove4 5s linear  infinite;
	     -o-animation: cloudmove4 5s linear  infinite;
	        animation: cloudmove4 5s linear  infinite;
	z-index:100;
}
#div5{
	position: absolute;
	top: -21px;
	opacity: 0.9;
	-webkit-animation: cloudmove5 4s linear  infinite;
	   -moz-animation: cloudmove5 4s linear  infinite;
	    -ms-animation: cloudmove5 4s linear  infinite;
	     -o-animation: cloudmove5 4s linear  infinite;
	        animation: cloudmove5 4s linear  infinite;
	z-index:100;
}

/* Because the problem of setting the width of sky, when zoom out the window, it will show the problem, the cloud just appear suddenly,
will try to fix the problem later*/

@keyframes cloudmove1{
	from { transform:scale(0.4)  translateX(4000px) ; }
    to   { transform:scale(0.4)  translateX(-700px); }
}
@keyframes cloudmove2{
	from { transform:scale(0.4)  translateX(4000px) ; }
    to   { transform:scale(0.4)  translateX(-700px); }
}
@keyframes cloudmove3{
	from { transform:scale(0.4)  translateX(4000px) ; }
    to   { transform:scale(0.4)  translateX(-700px); }
}
@keyframes cloudmove4{
	from { transform:scale(0.6)  translateX(4000px) ; }
    to   { transform:scale(0.6)  translateX(-700px); }
}
@keyframes cloudmove5{
	from { transform:scale(0.2)  translateX(9000px) ; }
    to   { transform:scale(0.2)  translateX(-700px); }
}


.grass img{
	position: absolute;
	bottom: -537px;
	right: -525px;
	z-index: 5;
	transform: scale(0.1);
}

